/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

/* Css elements file */
@import "./css/css_elements/header.css";
@import "./css/css_elements/heroBanner.css";
@import "./css/css_elements/myProject.css";
@import "./css/css_elements/aboutMe.css";
@import "./css/css_elements/contact.css";
@import "./css/css_elements/mySkill.css";
@import "./css/css_elements/footer.css";

/* Css components file */
@import "./css/css_components/button.css";
@import "./css/css_components/layer.css";

/* Css action file */
@import "./css/action.css";

/* Css responsive file */
@import "./css/responsive.css";

/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-size: 62.5%; 
}

body{
    font-family: 'Poppins', sans-serif;
    background: #f4f7fb;
    color: #1e293b;
    line-height: 1.6;
    
}

/* Container */
.container{
    width: 100%;
}

/* SECTION */
.mySkill,
.myProjects,
.aboutMe,
.contact{
    width: 100%;
    padding: 60px 20px;
}

.contact {
    padding: 40px 20px;
}

.mySkill,
.myProjects,
.aboutMe {
    min-height: 100vh;
}

/* TITLES */
.mySkill_title,
.myProjects_title,
.contact_title,
.aboutMe_title{
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 5rem;
    color: #2563eb;
    font-weight: 700;
}

.contact_title {
    margin-bottom: 3rem !important;
}




