.aboutMe {
    display: flex;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    flex-direction: column;
}

.aboutMe_title {
    margin-bottom: 0 !important;
}

.aboutMe_title p {
    font-weight: 400;
    font-size: 1.7rem;
    color: #475569;
    margin-top: 2rem;
}


.aboutMe_img {
    overflow: hidden;
    border-radius: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    opacity: 0.9;
    margin-right: 20px;
    width: 300px;
    height: 400px;
}

.aboutMe_img img {
    width: 300px;
    height: 400px;
    object-fit: cover;
    transition: 0.4s;
    transform: scale(1.1);
}

.aboutMe_img:hover img {
    transform: scale(1.2);
    opacity: 1;
    cursor: pointer;
}

.aboutMe_content {
    display: flex;
}

.aboutMe h2 {
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 20px;
    color: #2563eb;
    font-weight: 700;
}

.aboutMe p {
    font-size: 1.7rem;
    color: #475569;
}

/* CERTIFICATE */
.aboutMe_section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-content: center;
}

.aboutMe_sectionElement {
    width: 220px;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

.aboutMe_sectionElement p {
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 600;
    color: #6679b7;
    height: 50px;
    text-align: center;
    align-content: center;
}

.transcript-download {
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    text-decoration: none;
}

.transcript-download img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    transition: 0.4s;
    border-radius: 20px;
}

.aboutMe_sectionElement a:hover img {
    transform: scale(1.08);
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(148, 182, 255, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
    opacity: 0;
    transition: 0.3s;
    text-align: center;
    padding: 10px;
}

.aboutMe_button_phone {
    display: none;
}

.aboutMe_sectionElement a:hover .overlay {
    opacity: 1;
}