.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    transition: top 0.4s;
}

.header-hidden {
    top: -80px;
}

.nav {
    margin: auto;
    padding: 18px 20px;
    display: flex;
    justify-content: center;
    gap: 35px;
    font-size: 1.6rem;
}

.nav a {
    font-size: 18px;
    padding: 0 3px;
}

.nav_item {
    text-decoration: none;
    color: #334155;
    font-weight: 500;
    transition: 0.3s;
    position: relative;
}

.nav_item:hover,
.nav_item.active {
    color: #2563eb;
}

.nav_item::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    left: 0;
    bottom: -5px;
    background: #2563eb;
    transition: 0.3s;
}

.nav_item:hover::after {
    width: 100%;
}